.app-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  border: 2px solid lightgrey;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 5px;

  .wide-btn {
    padding: .375rem 2rem;
    width: 96px;
  }

  .thin-btn {
    margin-left: 12px;
    border: 0;
  }

  .story-title-label {
    font-size: smaller;
  }
}

.story-details {
  margin-left: 5%;
}

.action-buttons {
  display: flex;
  margin-right: 1%;
}

.action-row {
  display: flex;
  justify-content: flex-end;
}
