.participant-list-container {
  margin-top: 40px;
  background: whitesmoke;
  border: 2px solid lightgrey;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.disconnect-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
