@import '~pretty-checkbox/src/scss/variables';

$pretty--colors:(
  primary:#985B9C,
  info:$pretty--color-info,
  success:$pretty--color-success,
  warning:$pretty--color-warning,
  danger:$pretty--color-danger
);

@import '~pretty-checkbox/src/pretty-checkbox.scss';


.vote-row {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;

  .vote-button {
    height: 5em;
    font-size: 1.25em;
    flex-basis: 15%;
    margin-bottom: 12px;
  }
}

.workflow-row {
  display: flex;

  .btn {
    margin-right: 1em;
  }
}

.modal-description {
  margin-left: 0.5em;
  margin-top: 1em;
}
