<h3>Vote for story {{storyId}}</h3>
<div class="vote-row" *ngIf="!(participantsStateUpdate$ | async).areVotesRevealed">
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(1)">1</button>
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(2)">2</button>
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(3)">3</button>
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(5)">5</button>
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(8)">8</button>
  <button type="button" class="btn btn-primary vote-button" (click)="selectValue(13)">13</button>
</div>
<div *ngIf="(participantsStateUpdate$ | async).areVotesRevealed">
  <app-voting-result [votes]="(getVotes() | async)"></app-voting-result>
</div>
<div class="workflow-row" *ngIf="!((participantsStateUpdate$ | async).areVotesRevealed) && (isModerator$ | async)">
  <button type="button" class="btn btn-primary" (click)="revealVotes()">Reveal</button>
  <button type="button" class="btn btn-secondary" (click)="abortVoting()">Abort</button>
  <button type="button" class="btn btn-secondary" (click)="disconnect()" *ngIf="userId==='disco'">Disconnect</button>
</div>
<div class="workflow-row" *ngIf="((participantsStateUpdate$ | async).areVotesRevealed) && (isModerator$ | async)">
  <button type="button" class="btn btn-primary" (click)="openModal(content)">Continue</button>
  <button type="button" class="btn btn-secondary" (click)="resetVotes()">Revote</button>
  <button type="button" class="btn btn-secondary" (click)="disconnect()" *ngIf="userId==='disco'">Disconnect</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Set accepted estimation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="vote-row">
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(1)">1</button>
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(2)">2</button>
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(3)">3</button>
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(5)">5</button>
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(8)">8</button>
      <button type="button" class="btn btn-primary vote-button" (click)="modal.close(13)">13</button>
    </div>
    <div>
      <input type="checkbox" [(ngModel)]="setStoryPointsToJira"> Set story points in Jira
    </div>
  </div>
</ng-template>
