<p>poker works!</p>
<a [routerLink]="['../backlog']">Nav to backlog</a>
<div class="row">
  <button type="button" class="btn btn-primary" (click)="selectValue(1)">1</button>
  <button type="button" class="btn btn-primary" (click)="selectValue(2)">2</button>
  <button type="button" class="btn btn-primary" (click)="selectValue(3)">3</button>
  <button type="button" class="btn btn-primary" (click)="selectValue(5)">5</button>
  <button type="button" class="btn btn-primary" (click)="selectValue(8)">8</button>
  <button type="button" class="btn btn-primary" (click)="selectValue(13)">13</button>
</div>
<div class="row">
  <button type="button" class="btn btn-primary" (click)="revealVotes()">Reveal</button>
</div>
<div class="row" *ngIf="(participantsStateUpdate$ | async).areVotesRevealed">
  <button type="button" class="btn btn-primary" (click)="resetVotes()">Revote</button>
  <label for="acceptedVote">Accepted Vote</label>
  <input type="number" class="form-control" id="acceptedVote" [(ngModel)]="acceptedVote">
  <button type="button" class="btn btn-primary" (click)="acceptVote()">Accept Vote</button>
</div>
